language: python
cache: pip

python:
  - "3.5"
  - "3.6"

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install -e .

# command to run pytest
script: pytest tests
